body {
  background: grey;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 370px;
}

li {
  color: rgba(255, 255, 255, .5);
  padding: 5px;
  position: relative;
  transition: .3s;
}
li:hover {
  color: white;
}

li:nth-child(3n+1)::before,
li:nth-child(3n+1)::after {
  background: greenyellow;
}

li:nth-child(3n+2)::before,
li:nth-child(3n+2)::after {
  background: rgb(47, 255, 227);
}

li:nth-child(3n+3)::before,
li:nth-child(3n+3)::after {
  background: rgb(255, 47, 130);
}

li::after,
li::before 
{
  content: '';
  position: absolute;
  height: 50%;
  transition: .3s;
  z-index: -1;
}

/* 2 ways of doing the same thing */
li::after {
  top: 0;
  right: 0;
  left: 100%;
}
li:hover::after {
  left: 0;
}

li::before {
  bottom: 0;
  left: 0;
  right: 100%;
}
li:hover::before {
  right: 0;
}

/* ******* */
/* li::after,
li::before 
{
  width: 100%;
  transform: scaleX(0);
}
li::after {
  transform-origin: right;
  top: 0;
  right: 0;
}
li::before {
  transform-origin: left;
  bottom: 0;
  left: 0;
}
li:hover::after,
li:hover::before 
{
  transform: scaleX(1);
} */